[Desktop Entry]
Name=Blackbox
Comment=Very small and fast window manger
Comment[pl]=Mały i szybki zarządca okien
Exec=blackbox
Terminal=false
TryExec=blackbox

[Window Manager]
SessionManaged=true
# vi: encoding=utf-8
